@page
@model NA.SimpleSurveyInvitation.Web.Pages._LayoutModel
@{
}


@*@using Microsoft.AspNetCore.Components.Layouts
@inherits LayoutComponentBase

<h1>Start Layout</h1>

@Body

<h1>End Layout</h1>*@