@page "/"
@inject NavigationManager NavigationManager

<h2>Welcome</h2>

@code {
    protected override async Task OnInitializedAsync()
    {
        NavigationManager.NavigateTo("/GenericQR/SurveyQR2", true);
    }
}