@page "/SurveyQR"

@using NA.SimpleSurveyInvitation.Web.Data

@inject ExampleService QRService

@if (processingQR)
{
    <div class="spinner"></div>
}
else if (byteArray.Length != 0)
{
    <p>
        <img class="imageThumbnail" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(@byteArray))" />
    </p>
}

@code {
    bool processingQR = true;
    byte[] byteArray = { };
    string valueToConvert = "simplesurveyinvitation.azurewebsites.net/Survey";

    protected override async Task OnInitializedAsync()
    {
        byteArray = await QRService.QRImage2(valueToConvert);
        processingQR = false;
    }
}